{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ user }}'s Profile</h2>
    {% if request.user.username != user %}
    <table>
        <thead>
            <tr>
                <th class="border p-1">Followers</th>
                <th class="border p-1">Following</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border text-center">0</td>
                <td class="border text-center">0</td>
            </tr>
        </tbody>
    </table><br>
    <button id="follow">Follow</button>
    {% endif %}
    <div class="posts">
        {% for post in posts reversed %}
        <div class="border m-3 p-3">
            <h5>{{ post.poster }}</h5>
            {% if request.user == post.poster %}
                {% if request.user.is_authenticated %}
                <a href="#">Edit</a><br>
                {% endif %}
            {% endif %}
            {{ post.post }}<br>
            <div class="text-muted">{{ post.datetime }}</div>
            <a href="#">Comment</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}