{% extends "network/layout.html" %}

{% block body %}
    <h3 class="ml-3">{% if user == request.user.username %}Your Profile{% else %}{{ user }}{% endif %}</h3>
    <table class="ml-3">
        <thead>
            <tr>
                <th class="border p-1">Followers</th>
                <th class="border p-1">Following</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="follower-num" class="border text-center">{{ followers }}</td>
                <td id="following-num" class="border text-center">{{ following }}</td>
                <td>
                    {% if request.user.username != user and request.user.is_authenticated %}
                    <button class="ml-3 btn btn-primary" id="follow">
                    {% if not f_status %}
                    Follow
                    {% else %}
                    Unfollow
                    {% endif %}
                    </button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="posts">
        {% for post in posts %}
        <div class="border m-3 p-3">
            <h5>{{ post.poster }}</h5>
            {% if request.user == post.poster %}
                <button id="edit_post{{ post.pk }}" class="edit btn btn-primary" data-post_id="{{ post.pk }}">Edit</button><br>
                <form id="edit_field{{ post.pk }}" class="edit_field">
                    {% csrf_token %}
                    <textarea name="post_contents" id="edit_post_body{{ post.pk }}" class="form-control mb-1">{{ post.post }}</textarea>
                    <input type="hidden" name="post_id" value="{{ post.pk }}">
                    <button type="button" data-button_num="{{ post.pk }}" class="btn btn-primary edit-button">Save Changes</button>
                </form>
            {% endif %}
            <div id="post_body{{ post.pk }}"><h3>{{ post.post }}</h3></div>
            <div class="likes">
                {% if request.user.is_authenticated %}
                <span class="like_button" id="like{{ post.pk }}" data-like_id="{{ post.pk }}">🤍</span>
                {% else %}
                <span>❤️</span>
                {% endif %}
                <span><span class="like_num" id="like-count{{ post.pk }}" data-num_id="{{ post.pk }}"></span> likes</span>
            </div>
            <div class="text-muted" id="datetime{{ post.pk }}">{{ post.datetime }}</div>
        </div>
        {% empty %}
        <div class="m-3 p-3">
            <h5>No posts to display.</h5>
        </div>
        {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            {% if current_page == 1 %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/{{ previous_page }}">Previous</a></li>
            {% endif %}

            {% for page in pages %}
                {% if page == current_page %}
                    <li class="page-item active"><a class="page-link" href="{% url 'profile_page' user page %}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile_page' user page %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if current_page == pages|length %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="/{{ next_page }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}