a {
    text-decoration: none;
    color: dimgrey;
}

h1 {
    font-size: 75px;
    line-height: 1;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    font-size: 12px;
}

tr {
    height: 40px;
    text-indent: 30px;
}

.advanced_round {
    display: inline-flex;
    justify-content: left;
    border-radius: 2px;
    width: 30vw;
    height:15px;
    text-indent: 5px;
    font-size: 15px;
    padding:5px;
    border: 1px solid lightgray;
}

.advanced_round:focus {
    outline: none !important;
    border: 1px solid blue;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.left {
    float: left;
}

.navbar {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: #373737
}

.right {
    float: right;
}

.round {
    border-radius: 40px;
    width: 600px;
    height:40px;
    text-indent: 30px;
    font-size: 18px;
    border: 1px solid lightgray;
}

.round:focus {
    outline: none !important;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px lightgrey;
}

.searchbutton {
    padding: 12px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.whitespace {
    height: 150px;
}

#advanced_search {
    background-color:royalblue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid blue;
    border-radius: 3px;
}

#advanced_title {
    color: crimson;
    font-style: italic;
    text-indent: 30px;
}

#logo {
    text-decoration: none;
    color: black;
}