{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a listing</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'new_listing' %}" method="POST">
            {% csrf_token %}
            <h3>Title of Listing</h3>
            <input name="title" placeholder="Title"><br>
            <h3>Description</h3>
            <textarea name="description" placeholder="Listing description..."></textarea>
            <h2>Starting Bid</h2>
            $<input name="price" type="number" step="0.01" placeholder="00.00"><br>
            <h2>(Optional) Add an Image URL</h2>
            <input type="url" name="image_URL" autocomplete="off" type="text" placeholder="URL"><br>
            <h2>(Optional) Add a category</h2>
            <input type="text" name="category" placeholder="e.g. Sports" autocomplete="off"><br>
            <input type="submit" value="Create Listing">
        </form>
    {% else %}
        <h3>Sign in to create a new listing.</h3>
    {% endif %}
{% endblock %}