{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create a listing</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'new_listing' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="listing_title">Title of Listing</label>
                <input name="title" class="form-control" id="listing_title" required placeholder="Title">
            </div>
            <div class="form-group">
                <label for="listing_price">Starting Price ($)</label>
                <input class="form-control" id="listing_price" name="price" type="number" step="0.01" placeholder="Enter price (00.00 format)">
            </div>
            <div class="form-group">
                <label for="listing_image">(Optional) Add an Image URL</label>
                <input class="form-control" id="listing_image" type="url" name="image_URL" autocomplete="off" type="text" placeholder="URL">
            </div>
            <div class="form-group">
                <label for="listing_category">(Optional) Add a category</label>
            <input class="form-control" id="listing_category" type="text" name="category" placeholder="e.g. Sports" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="listing_description1">Listing Description</label>
                <textarea class="form-control" id="listing_description1" required rows="3" name="description"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Create Listing">
        </form>
    {% else %}
        <h3>Sign in to create a new listing.</h3>
    {% endif %}
{% endblock %}