{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a listing</h1>
    {% if user.is_authenticated %}
    <form action="{% url 'listing' %}" method="POST">
        {% csrf_token %}
        <h2>Title of Listing</h2>
        <input name="title"><br>
        <h2>Description</h2>
        <textarea placeholder="Listing description..."></textarea>
        <h2>Starting Bid</h2>
        $<input type="number"><br>
        <h2>(Optional) Add an Image</h2>
        <input type="text"><br>
        <input type="submit" value="Create Listing">
    </form>
    {% else %}
    <h3>Sign in to create a new listing.</h3>
    {% endif %}
{% endblock %}